@font-face {
  font-family: "Fraunces";
  src: url("../public/static/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../public/static/fonts/Manrope-VariableFont_wght.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("../public/static/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope Regular";
  src: url("../public/static/fonts/Manrope-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Fraunces 144pt";
  src: url("../public/static/fonts/Fraunces_144pt-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #24053E;
}

button {
  font-family: "Manrope";
  background-color: #44ffa1;
  height: 61px;
  width: 190px;
  border: none;
  font-size: 18px;
}

button:hover{
  background-color: #24053e;
  border: solid 1px #44ffa1;
  color:#44ffa1
}
