.background {
  position: absolute;
  width: 100vw;
  height: 481.71px;
  left: 0px;
  top: 0px;
  background: #24053e;
  z-index: -999;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 16px 0px;
  align-items: center;
}

.header_text {
  font-family: "Manrope";
  text-decoration: underline #44ffa1 0.2rem;
  text-underline-offset: 7px;
  color: white;
}

.section {
  padding: 54px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 195px;
  width: 343px;
}
.section_container {
  display: flex;
  justify-content: center;
}

.quotes {
  font-family: "Fraunces 144pt";
  font-size: 50px;
}
.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.characteristics{
  text-align: center;
  padding: 60px 16px 0px;
  
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}
.number{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 46px;
  border-radius: 50%;
  border: solid #584D62 1px;
  font-family: "Fraunces 144pt";
}

.description_item{
  font-family: "Fraunces 144pt";
  font-size: 36px;
}

.description_paragraph{
  font-family: "Manrope Regular";
  font-size: 28px;
  
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 32px 39px 0px;
  }
}
